registry=https://registry.npmjs.org/
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
fetch-timeout=300000
fetch-retries=5
network-timeout=300000
prefer-offline=false
progress=false
audit=false
fund=false
strict-ssl=false
legacy-peer-deps=true
force=true
hoist=false
shamefully-hoist=true
side-effects-cache=false
ignore-scripts=false
node-linker=hoisted
public-hoist-pattern[]=*webpack*
public-hoist-pattern[]=*babel*
public-hoist-pattern[]=@babel/plugin-transform-runtime 